* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* header */

header {
  width: 100vw;
}
.subtitulo {
  background-color: #1cd1b0;

  height: 38px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.sub2 {
  background-color: #00669f;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  height: 101px;
  padding: 28px;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* contenido */
.caja-mayor {
  display: flex;
  justify-content: center;
}
.contenido {
  display: flex;
  justify-content: space-between;
  margin-top: 154px;
  margin-bottom: 151px;
  width: 960px;
  
 
}
/* lista cards */
.caja {
  width: 300px;
  background: #f3f3f3;
  padding-bottom: 18px;
}

.centrado {
  display: flex;
  justify-content: center;

  margin-top: -60px;
}

.imagen-circulo {
  width: 122px;
  height: 120px;
  z-index: 2;
}
.caja-cabeza {
  position: relative;
}

.corazon {
  position: absolute;
  left: 21px;
  top: 15px;
}
p {
  margin: 0px 16px;
  margin-bottom: 37px;
}

.caja-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background: #00669f;
  width: 128.78px;
  height: 48.52px;
  font-size: 15px;
  color: white;
}

/* card cabecera */

/* card imagen */

/* card contenido */

/* imagen cabecera batman */

.fondo-batman {
  background-image: url("/img/fondo-batman.jpg");
}

/* imagen fondo harley */

.fondo-harley {
  background-image: url("/img/fondo-harley.jpg");
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff9f9;
  background-color: #00669f;
  height: 51px;
  padding: 16px;
}
